.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;


}

table td {
 border: 1px solid grey;
 width: 100px;
 height: 100px;
 
 text-align: center;
 font-size: 60px;
 font-weight: 800;
padding-top: 5px;   
}

